<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="engage_distance_min" value="1.5"/>
		<add key="engage_distance_max" value="5"/>
		<add key="speech_confidence_min" value="0.3"/>
	</appSettings>
</configuration>
